<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>YourHR</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="container">
        <div class="pair">
            <div class="item1"></div>
            <div class="item2"></div>
        </div>
        <div class="text">
            <p>The benefits of using our job search service are numerous for job searchers. First off, our platform 
                offers a broad selection of employment possibilities from different sectors and regions, making it simpler
                 for job seekers to choose the ideal position that complements their qualifications and interests.
            <br><br>
                 Additionally, we provide a personalised job search experience through which job seekers can upload their resumes
                  and create profiles that can be viewed by prospective employers. This improves the likelihood that you will hear
                   from recruiters who are actively seeking for applicants with comparable qualifications. Additionally, our service
                    offers job seekers insightful information and guidance on the hiring process, including industry trends, salary
                     negotiation tactics, and interview tips. 
           <br><br>
            Finally, our job search service is free for job seekers, making it available to anyone looking for work. Overall, by 
                registering for our job search service, job seekers may improve their chances of landing their ideal job and launching 
                their careers.</p><br>
                <a href="/signup" class="slink">Check Out Opportunities For You</a>
                
                <a href="/users" class="slink1">SQL query</a>
        </div>
       
    </div>
</body>
</html>