<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sign.css">
    <title>YourHR</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="container">
	
	<form action="/signup" method="POST" enctype="multipart/form-data">
        <h1>Signup</h1>
		<label for="name">Name:</label>
		<input type="text" name="name" id="name" required><br><br>

		<label for="email">Email:</label>
		<input type="email" name="email" id="email" required><br><br>

		<label for="phone">Phone Number:</label>
		<input type="tel" name="phone" id="phone" required><br><br>

		<label for="resume">Resume:</label>
		<input type="file" name="resume" id="resume" required><br><br>

		<input type="submit" value="Signup">
	</form>
</div>
</body>
</html>